#Dossiers
biblio/
videos_goubert/
Miniconda*
*.sh
DATA/
Pfam_db/
TE-Aid/
TE_ManAnnot/

# BLAST / NCBI index files
*.nsq
*.nin
*.nhr
*.ndb
*.ntf
*.nto
*.njs
*.o

# Ignore all DATA by default
DATA/**

# Allow specific curated results
